<div class="main">
  <div class="nav">
    <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(230, 69, 69);font-weight: bolder;margin-left: 5%;">Library Administrative System</h2>
    <div style="display: flex;flex-direction: row;justify-content:center;width: 500px;">
      <button routerLink="../home" mat-raised-button style="color: rgb(23, 22, 20);background-color: lightsteelblue;font-style: italic;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-right: 25px;" >Home</button>
      <button routerLink="../stocks" mat-raised-button style="color: lightsteelblue;background-color: brown;font-style: italic;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >Stock Management</button>

    </div>


  </div>
  <div class="sect">
    <div class="sect1">
      <h2 style="font-size: larger;margin-top: 5%;font-style: oblique;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bolder;color: brown;">  Update your stocks here.. </h2>
      <section class="table">
              <table border="1" >
                <thead >
                  <td style="border-radius: 25px 0px 0px 0px;padding: 10px;">Book Name</td>
                  <td>Author</td>
                  <td style="border-radius: 0px 25px 0px 0px;padding: 10px;">Update Price</td>

                  <!-- <td>Action</td> -->
                </thead>
                <tr *ngFor="let i of data;let index=index">
                  <td class="td">{{i.bookName}}</td>
                  <td class="td">{{i.author}}</td>
                  <td class="td"><button mat-button style="background-color: rgb(135, 8, 54);color:wheat;" (click)="move(i)">Add Price</button></td>

                </tr>
                <tr style="text-align:center ;background-color: antiquewhite;" *ngIf="data.length==0">
                  <td colspan="5">No results found</td>

                </tr>
              </table>
      </section>

    </div>
  </div>
  <div class="sect" style="margin-top: 5%;">
    <div class="sect1">
      <h2 style="font-size: larger;margin-top: 5%;font-style: oblique;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bolder;color: rgb(112, 111, 111);">  Price List</h2>
      <section class="table">
              <table border="1" >
                <thead >
                  <td style="border-radius: 25px 0px 0px 0px;padding: 10px;">Book Name</td>
                  <td >Price</td>
                  <td style="border-radius: 0px 25px 0px 0px;padding: 10px;">Issue</td>
                  <!-- <td>Action</td> -->
                </thead>
                <tr *ngFor="let i of priceList;let index=index">
                  <td class="td">{{i.bookName}}</td>
                  <td class="td">{{i.price}}</td>
                  <td class="td"><button mat-button style="background-color: rgb(182, 181, 179);border: 1px solid green;color: green;" (click)="issueBook(i)">Issue the Book</button></td>

                </tr>
                <tr style="text-align:center ;background-color: antiquewhite;" *ngIf="priceList.length==0">
                  <td colspan="5">No results found</td>

                </tr>
              </table>
      </section>

    </div>
    <div class="sect1">
      <h2 style="font-size: larger;margin-top: 5%;font-style: oblique;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bolder;color: rgb(11, 10, 10);"> ISSUED BOOKS </h2>
      <section class="table">
              <table border="1" >
                <thead >
                  <td style="border-radius: 25px 0px 0px 0px;padding: 10px;">Book Name</td>
                  <td style="border-radius: 0px 25px 0px 0px;padding: 10px;">Issue Number</td>


                  <!-- <td>Action</td> -->
                </thead>
                <tr *ngFor="let i of issued;let index=index">
                  <td class="td">{{i.bookName}}</td>
                  <td class="td">{{i.isno}}</td>


                </tr>
                <tr style="text-align:center ;background-color: antiquewhite;" *ngIf="issued.length==0">
                  <td colspan="5">No results found</td>

                </tr>
              </table>
      </section>

    </div>
  </div>
</div>
<div *ngIf="show2" class="out2">
              <div class="pop2 text-center mat-elevation-z4">
                  <br>
                  <div class="d-flex flex-column">

                    <div style="display: flex;flex-direction: row;justify-content: flex-end;">
                      <button mat-button (click)="gen_close()"><mat-icon>close</mat-icon></button>
                    </div>
                    <div>
                      <input style="border: 1px solid black;padding: 5px;width: 150px;border-radius: 5px;margin-top: 5px;" (change)="setPrice($event)" type="Number" placeholder="Add Price">
                    </div>

                  <div>
                    <button  mat-button style="background-color: blue;color: white;margin-top: 1%;" (click)="close()">Update</button>
                  </div>

                  </div>
              </div>

</div>

